@model AppMercado.Models.CarrinhoViewModel

<div class="card" style="width: 300px;">
    <div class="card-header bg-primary text-white">
        Carrinho de Compras
    </div>
    <div class="card-body" style="max-height: 400px; overflow-y: auto;">
        @if (Model.Itens.Any())
        {
            <ul class="list-group list-group-flush">
                @foreach (var item in Model.Itens)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <h6>@item.Produto.Nome</h6>
                            <small>R$ @item.Produto.Preco.ToString("N2") x @item.Quantidade</small>
                        </div>
                        <div class="input-group" style="width: 120px;">
                            <button class="btn btn-outline-secondary btn-sm btn-carrinho-minus" type="button" data-produto-id="@item.Produto.Id">-</button>
                            <input type="number" class="form-control form-control-sm text-center quantidade-carrinho" value="@item.Quantidade" min="1" data-produto-id="@item.Produto.Id">
                            <button class="btn btn-outline-secondary btn-sm btn-carrinho-plus" type="button" data-produto-id="@item.Produto.Id">+</button>
                            <button class="btn btn-danger btn-sm btn-remover" type="button" data-produto-id="@item.Produto.Id">
                                <i class="bi bi-trash"></i>
                            </button>
                            <div><strong>Encontrou tudo?</strong></div>
                            <button class="btn btn-primary btn-adicionar" type="button" data-produto-id="@item.Produto.Id">Finalizar</button>

                            
                        </div>
                    </li>
                }
            </ul>
            <div class="mt-3">
                <h5>Total: R$ @Model.Total.ToString("N2")</h5>
            </div>
        }
        else
        {
            <p class="text-center">Seu carrinho está vazio</p>
        }
    </div>
</div>